.container {
    width: 800px;
    min-height: 600px;
    margin: 50px auto 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 3px;
    background-color: var(--color-bg);
}

h1,h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    margin: 0 10px;
}

button {
    display: flex;
    justify-content: flex-end;
    border: none;
    padding: 8px 16px;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: rgba(65, 58, 58, 0.2) 0 0 5px 2px;
    cursor: pointer;
  }
  
button:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 3px;;
  }


  


