.navigation {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 40px;
}

.link {
  text-decoration: none;
  color: var(--color-bg);
  font-size: 20px;
}

.activeLink {
  color: var(--color-accent);
  font-size: 20px;
  text-decoration: underline;
  cursor: auto;
}
