.navigation {
  /* height: 30px; */
  padding: 10px 0;
  margin-left: auto;
}

.link {
  margin-right: 40px;
  font-size: 20px;
  color: var(--color-bg);
  text-decoration: none;
}

.activeLink{
  margin-right: 40px;
  font-size: 20px;
  color: var(--color-accent);
  text-decoration: underline;
  cursor: auto;
}

