.navigation {
  height: 50px;
  padding: 10px 0;
  /* text-align: end; */
  margin-left: auto;
}
  
  .link {
    color: floralwhite;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
  }
  
  /* --------dont-work ---------------*/
  
  .activeLink {
    text-decoration: solid;
    color: rgb(55, 56, 51);
    border-bottom: 2px solid black;
    cursor: auto;
  }
  