.navigation {
  height: 50px;
  padding: 10px 0;
  margin-left: auto;
}

.link {
  color: var(--color-bg);
  text-decoration: none;
  font-size: 20px;
  margin-right: 40px;

}

/* --------dont-work ---------------*/

.activeLink {
  text-decoration: underline;
  color: var(--color-accent);
  /* border-bottom: 2px solid black; */
  cursor: auto;
}

