.container {
  width: 800px;
  min-height: 300px;
  margin: 50px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 3px;
  background-color:var(--color-bg);
}

.title {
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--color-dark);
}

.text {
  font-size: 24px;
  line-height: 1.8;
  color: var(--color-dark);
}

.link{
    text-decoration: underline;
    color: var(--color-accent);
}
